
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    font-family: "Open Sans";
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

body {
    text-align: center;
    color: #FFF;
    background-color: #333;
}

header {
    padding: 60px 20px;
    width: 100%;
    background: url(../img/background.jpg);
    text-shadow: 0px 2px 1px black;
}

#passwordStage {
    display: block;
    width: 100%;
    padding: 40px;
}

#password {
    padding: 10px;
    background-color: #000;
    color: #0A0;
    width: auto;
    display: inline-block;
}

#info {
    margin-top: 20px;
}
